{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-12 ">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, perferendis porro praesentium quaeLorem ipsum dolor sit amet, perferendis porro praesentium quaeLorem ipsum dolor sit amet, perferendis porro praesentium quae</p>
    <p>Lorem ipsum dolor sit amet, perferendis porro praesentium quaeLorem ipsum dolor sit amet, perferendis porro praesentium quaeLorem ipsum dolor sit amet, perferendis porro praesentium quae</p>
    <p>Lorem ipsum dolor sit amet, perferendis porro praesentium quaeLorem ipsum dolor sit amet, perferendis porro praesentium quaeLorem ipsum dolor sit amet, perferendis porro praesentium quae</p>
</div>

{% endblock content %}